@model KJPFit.Models.ExerciseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExerciseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceInMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceInMiles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
