@model KJPFit.Models.StatDetails

@{
    ViewBag.Title = "Details";
}

<h2>Stat Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeightInInches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeightInInches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoalMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
