@model IEnumerable<KJPFit.Models.WorkoutListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Workouts</h2>

<p>
    @Html.ActionLink("Create New Workout", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkoutId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WorkoutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFavorited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFavorited, new { Id = item.WorkoutId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkoutId }) |
                @Html.ActionLink("Details", "Details", new { id = item.WorkoutId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkoutId }) |
                @Html.ActionLink("Add Exercise", "AddExerciseToWorkout", new { id = item.WorkoutId }) |
            </td>
        </tr>
    }

</table>

@section scripts {
    <script language="javascript" type="text/javascript">
     $(document).ready(function () {
         $("i[data-toggle='star']")
             .css({ "cursor": "pointer" })
             .click(function (e) {
                 var target = $(e.target);
                 var noteId = target.attr("data-id");
                 var starSet = target.hasClass("glyphicon-star");

                 $.ajax({
                     method: starSet ? "DELETE" : "PUT",
                     url: "/api/note/" + noteId + "/star",
                     data: null
                 })
                 .done(function (r) {
                     target.removeClass();
                     target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                 })
                 .fail(function (r) {
                     alert("Failed to change star status");
                 });
             });

     });
    </script>
    }
